---
import Card from "./Card/index.astro";
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-7 lg:row-span-6"
  title="About me"
>
  <div class="flex flex-col gap-2 text-sm font-light">
    <p>
      I'm passionate about autonomous driving technology and have a deep
      interest in machine learning, especially within robotics and computer
      vision. I embrace new challenges with enthusiasm and a strong work ethic,
      constantly seeking opportunities for growth. I also strive to bring
      positive energy into the working environment and take pleasure in sharing
      my expertise and joy with others.
    </p>
    <br />
    <p>
      Outside of my professional interests, I'm an avid CrossFit enthusiast.
      Balancing coding and research with intense physical training, I believe in
      pushing boundaries both intellectually and physically.
    </p>
  </div>
</Card>
