---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../utils/constants";
import { Icon } from "astro-icon/components";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div
    class="flex w-full h-full flex-col justify-between md:max-h-[300px] gap-4"
  >
    <div class="flex flex-col h-full">
      <h6 class="text-sm font-light m-0 text-gray-500">welcome</h6>
      <p class="m-0 font-light text-lg w-3/4">
        Hi, I'm <b class="font-bold">João Marinho</b>, a Master in Informatics
        and Computing Engineering focused on innovative tech solutions.
        <br />
        <br />
        If you find my skills and projects intriguing, don't hesitate to get in touch.
      </p>
    </div>
    <div class="flex gap-4 lg:mt-0 md:mt-4 mt-2">
      <a href={LINKS.github} aria-label="github profile" target="_blank">
        <Button aria-label="github profile">
          <Icon name="ri:github-fill" class="h-6" />
          <span class="sr-only">GitHub Profile</span>
        </Button>
      </a>
      <a href={LINKS.linkedin} aria-label="linkeding profile" target="_blank">
        <Button aria-label="linkedin profile">
          <Icon name="ri:linkedin-box-fill" class="h-6" />
          <span class="sr-only">Linkedin Profile</span>
        </Button>
      </a>
      <a href={LINKS.email} aria-label="email address" target="_blank">
        <Button aria-label="email address">
          <Icon name="ri:mail-fill" class="h-6" />
          <span class="sr-only">Email contact</span>
        </Button>
      </a>
    </div>
  </div>
</Card>
